.container{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 40px;
}
@media(max-width:768px){
    .container{
        background-color: lightgreen;
    }
    h1{
        font-size: 30px;
    }
}
@media(max-width:480px){
    .container{
        background-color: lightcoral;
    }
    h1{
        font-size: 24px;
    }
}
